@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

@import "antd/dist/antd.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    height: 50px;
  }
  .content {
    height: calc(100vh - 50px);
  }
  .custom-modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: "black";
  }
  .page-header {
    height: 8%;
  }
  .page-height {
    height: 92%;
  }
}
